.container {
    display: flex;
    gap: 100px;
}

.posts {
    flex: 1;
}

.post {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0px;
    gap: 20px;
}

.imgContainer {
    width: 200px;
    height: 100px;
    position: relative;
}

.img {
    object-fit: cover;
}

.delete {
    cursor: pointer;
    color: red;
}

.new {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input,
.textArea {
    padding: 10px;
    background-color: transparent;
    border: 2px solid #bbb;
    border-radius: 3px;
    color: #bbb;
    font-size: 20px;
    font-weight: bold;
}

.button {
    padding: 20px;
    cursor: pointer;
    background-color: #53c28b;
    border: none;
    border-radius: 5px;
    color: #eee;
    font-weight: bold;
}

.else {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.elseHeading {
    font-size: 3rem;
    text-align: center;
}

.elseButton {
    display: flex;
    justify-content: center;
}

.elseButton button {
    width: 14rem;
    font-size: 1.4rem;
    font-weight: bold;
}

@media only screen and (max-width: 426px) {
    .container {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
        gap: 0;
    }

    .imgContainer {
        flex: 1/1;
    }

    .imgContainer img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .postTitle {
        word-break: break-all;
    }
}