.container {
    display: flex;
    align-items: center;
    gap: 100px;
}

.item {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.title {
    font-size: 62px;
    background: linear-gradient(to bottom, #194c33, #bbb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.img {
    width: 90%;
    height: 500px;
    object-fit: contain;
    animation: move 2.8s infinite ease alternate;
}

@keyframes move {
    0% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(10px);
    }
}

.desc {
    font-size: 20px;
    font-weight: 300;
}