.title {
    font-size: 60px;
    margin-bottom: 80px;
    text-align: center;
}

.content {
    display: flex;
    align-items: center;
    gap: 100px;
}

.imgContainer {
    flex: 1;
    height: 500px;
    position: relative;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    animation: move 2.8s infinite ease alternate;
}

@keyframes move {
    0% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0px) scale(1.03);
    }
}

.form {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input,
.textArea {
    padding: 18px;
    background-color: transparent;
    outline: none;
    border: 3px solid #bbb;
    color: #bbb;
    font-size: 18px;
    font-weight: bold;
}

.input:hover,
.textArea:hover {
    border: 3px solid #3dc07e;
}

.input:focus,
.textArea:focus {
    border: 3px solid #3dc07e;
}