.container {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: bold;
    font-size: 22px;
}

.links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navLink {
    display: flex;
    align-items: center;
    gap: 1.4rem;
}

.logout {
    padding: 5px;
    border: none;
    background-color: #53c28b;
    color: white;
    cursor: pointer;
    border-radius: 3px;
}

.mobileMenu {
    display: none;
}

@media only screen and (max-width: 526px) {
    .links {
        display: none;
    }

    .mobileMenu {
        display: flex;
        align-items: center;
        cursor: pointer;
        margin-top: 6px;
    }

    .navLink {
        margin-left: 7rem;
        margin-right: 1rem;
    }

    .expanded {
        position: absolute;
        height: 100%;
        width: 100vw;
        top: 0;
        right: 0;
        z-index: 1;
        background-color: #111;
        color: #fff;
    }

    .closeButton {
        position: absolute;
        right: 0;
        margin-top: 2rem;
        margin-right: 2.4rem;
        opacity: 0.9;
    }

    .menuLinks {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        font-size: 2rem;
    }

    .link:hover {
        color: #53c28b;
    }

    .logout {
        font-size: 22px;
        padding: 14px;
    }
}

@media only screen and (max-width: 321px) {
    .navLink {
        margin-left: 4rem;
    }
}