.container {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;
}

/* .container:hover {
    border: 4px solid #3dc07e;
    margin: 0 -4px;
    margin-top: -4px;
    margin-bottom: 46px;
} */

.imageContainer {
    width: 400px;
    height: 250px;
    flex: 1/2;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    flex: 1;
}

.title {
    margin-bottom: 10px;
}

.desc {
    font-size: 18px;
    color: #999;
}